@font-face {
	font-family : 'Apertura-Condensed';
	font-style  : normal;
	font-weight : normal;
	src         : url('/font/Apertura-Condensed.otf');
}

html, body {
	min-width   : 600px;
	min-height  : 100%;
	overflow    : hidden;
}

* {
	margin      : 0 0 25px 0;
	padding     : 0 0 0 0;
}

body {
	background  : #ccc;
	background  : -moz-linear-gradient(100% 100% 90deg, #ccc, #fff);
	background  : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
	background  : -webkit-linear-gradient(#fff, #ccc);
	background  : -o-linear-gradient(#fff, #ccc);
	color       : #666;
	font-family : 'Apertura-Condensed', arial, sans-serif, monospace;
	font-size   : 12pt;
	text-align  : center;
	line-height : 20pt;
}

a {
	color           : #666;
	font-weight     : bold;
	text-decoration : none;
}

a, a img {
	border     : none;
}

a:hover {
	color      : #000;
	cursor     : pointer;
}

h1 {
	padding    : 10% 0 0 0;
	display    : block;
	height     : 60px;
	background : -moz-linear-gradient(100% 100% 90deg, #fff, #ccc);
	background : -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#fff));
	background : -webkit-linear-gradient(#ccc, #fff);
	background : -o-linear-gradient(#ccc, #fff);
}

ul li {
	display    : inline;
	margin     : 0 10px 0 10px;
}

.quote {
	display    : block;
	width      : 400px;
	margin     : 0 auto 0 auto;
	text-align : left;
	font-size  : 10pt;
}
